/* header */
.logo {
    width: 5rem;
}

a {
    font-size: small;
    text-decoration: none;
    font-weight: bold;
    color: dimgray;
}

a::after {
    border-bottom: 1px solid;
}

a:hover {
    color: #3980f1;
}

/* jumbo */
.jumbo {
    background-image: url(/images/jumbotron.jpg);
    background-size: cover;
    height: 25rem;
}
